<html>
<head>
{% if form or form0 %}
{% else %}
<meta http-equiv="refresh" content="5">
{% endif %}
</head>
<body>

<h3><a href="{% url 'w:index' %}">Instruments</a> <a href="{% url 'w:rule' %}">Rules</a> <a href="{% url 'w:archive' %}">Archives</a></h3>

{% if form %}
	{% if form.errors %}<p><strong>{{ form.errors }}</strong></p>{% endif %}
{% endif %}

<a href="{% url 'w:index' 0 %}">Add Instrument</a>
<table border=1>
		<tr><th>ID</th><th>NAME</th><th>ADDRESS</th><th>TYPE</th><th>INDEX</th><th></th><th></th><th>VALUE</th><th>STATUS</th><th>DATETIME</th><th>ARCHIVE</th></tr>
		
		{% if form0 %}
		<tr>
		<form action="" method="post">{% csrf_token %}
        	<td>NEW</td>
            <td>{{ form0.name }}</td>
        	<td>{{ form0.address }}</td>
            <td>{{ form0.type }}</td>
            <td>{{ form0.index }}</td>
            <td><input type="submit" name="create" value="Create" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </form>
        <tr>
        {% endif %}
                
        {% for instrument in instruments %}

        	{% if instrument.pk = form.pk %}
        	
        	<tr>
        	<form action="" method="post">{% csrf_token %}
            	<td>{{ form.pk }}</td>
            	<td>{{ form.name }}</td>
            	<td>{{ form.address }}</td>
            	<td>{{ form.type }}</td>
            	<td>{{ form.index }}</td>
            	<td><input type="submit" name="save" value="Save" /></td>
            	<td></td>
            	<td>{{ instrument.value }} </td>
            	<td>{{ instrument.status }} </td>
            	<td>{{ instrument.datetime}} </td>
            	 <td></td>
            </form>
            <tr>
        	{% else %}
            <tr>
            	<td>{{ instrument.id }}</td>
            	<td>{{ instrument.name }}</td>
            	<td>{{ instrument.address }}</td>
            	<td>{{ instrument.get_type_display }}</td>
            	<td>{{ instrument.get_index_display }}</td>
            	<td><a href="{% url 'w:index' instrument.id %}">Update</a></td>
            	<td><a href="{% url 'w:d' instrument.id %}">Delete</a></td>
            	<td>{{ instrument.value }} </td>
            	<td>{{ instrument.status }} </td>
            	<td>{{ instrument.datetime|date:"D d M Y" }} {{ instrument.datetime|time:"H:i:s" }} </td>
            	 <td><a href="{% url 'w:archive' instrument.id %}">Archive</a></td>
            <tr>
            {% endif %}
        {% endfor %}
    
</table>
</body>
</html>





{% comment %}


<form action="{% url 'w:instrumentAdd'  %}" method="post">
{% csrf_token %}
<input type="submit" name="addInstrument" value="ADD INSTRUMENT"> 
</form>

{% if instruments %}
    <table = border=1>
    {% for instrument in instruments %}
        <tr><td><a href="{% url 'w:instrument' instrument.id %}">{{instrument.id}}</a></td><td>{{ instrument.address }} {{ instrument.system_name }} {{ instrument.user_name }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No instrumets are available.</p>
{% endif %}


{% if instruments %}
    <table = border=1>
    {% for instrument in instruments %}
        <tr>
		<td><a href="{% url 'w:instrument' instrument.id %}">{{instrument.id}}</a>
	
		{% for field, value in instrument.fields.iteritems %}
            <td>{{field}}</td>
            <td>{{value }}</td>
		{% endfor %}
        </tr>		
    {% endfor %}
    </table>
{% else %}
    <p>No instrumets are available.</p>
{% endif %}

{{list}}

{% endcomment %}